<!-- SERVICES -->
<section class="services">
    <div class="container">
        <div class="services__main">
            <div class="section__title services__title">
                Services
            </div>
            <div class="services__text">
                Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. 
            </div>
        </div>
        <div class="services__row">
            <div class="services__col">
                <div class="services__item">
                    <div class="services__icon">
                        <img src="img/services/lamp.svg" alt="">
                    </div>
                    <div class="services__subtitle">GRAPHIC DESIGN</div>
                    <div class="services__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </div>
                </div>
            </div>
            <div class="services__col">
                <div class="services__item">
                    <div class="services__icon">
                        <img src="img/services/monitor.svg" alt="">
                    </div>
                    <div class="services__subtitle">WEBSITE DESIGN</div>
                    <div class="services__desc">
                        Nunc non sem vitae neque tristique pellentesque. Donec vitae vehicula mauris. Proin elementum mauris ut ante tristique rutrum. Quisque tristique, dui iaculis commodo consectetur, libero nibh tincidunt tortor, in sollicitudin arcu tellus non puruslibero nibh tincidunt tortor, in sollicitudin arcu 
                    </div>
                </div>
            </div>
            <div class="services__col">
                <div class="services__item">
                    <div class="services__icon">
                        <img src="img/services/progress.svg" alt="">
                    </div>
                    <div class="services__subtitle">SEO & ANALITYCS</div>
                    <div class="services__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </div>
                </div>
            </div>
            <div class="services__col">
                <div class="services__item">
                    <div class="services__icon">
                        <img src="img/services/wordpress.svg" alt="">
                    </div>
                    <div class="services__subtitle">WORDPRESS PROGRAMING</div>
                    <div class="services__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->