<!-- HEADER-->
<header class="main-header">
  <div class="wrapper">=== HEADER ===
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link" href="#home">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#about">about us</a></li>
      <li class="menu__item"><a class="menu__link" href="#features">services</a></li>
      <li class="menu__item"><a class="menu__link" href="#portfolio">portfolio</a></li>
      <li class="menu__item"><a class="menu__link" href="#blog">blog</a></li>
      <li class="menu__item"><a class="menu__link" href="#contact-form">contact us</a></li>
      <li class="menu__item menu__item--with-dropdown"><a class="menu__link dropdown" href="#ru">ru</a>
        <div class="dropdown__menu show"><a class="dropdown__item" href="#">Action</a><a class="dropdown__item" href="#">Another action</a><a class="dropdown__item" href="#">Something else</a></div>
      </li>
    </ul>
  </div>
</header>
<!-- End HEADER-->