<!-- PRICES-->
<section class="prices">
    <div class="container">
        <div class="prices__main">
            <div class="section__title">
                Prices
            </div>
            <div class="prices__text">
                Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
            </div>
        </div>
        <div class="prices__row">
            <div class="prices__col">
                <div class="prices__item">
                    <div class="prices__subtitle">BASIC</div>
                    <div class="prices__icon">
                        <img src="img/prices/icon-basic.svg" alt="">
                    </div>
                    <div class="prices__price">10</div>
                    <div class="prices__list">
                        <p>Full Access</p>
                        <p>Unlimited Edition</p>
                        <p>Full Backup</p>
                        <p>Free Tea and Free Mockup</p>
                        <p>Several Prices</p>
                    </div>
                    <div class="prices__btn">
                        <button class="button">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="prices__col">
                <div class="prices__item">
                    <div class="prices__subtitle">ADVANCED</div>
                    <div class="prices__icon">
                        <img src="img/prices/icon-advanced.svg" alt="">
                    </div>
                    <div class="prices__price">20</div>
                    <div class="prices__list">
                        <p>Full Access</p>
                        <p>Unlimited Edition</p>
                        <p>Full Backup</p>
                        <p>Free Tea and Free Mockup</p>
                        <p>Several Prices</p>
                    </div>
                    <div class="prices__btn">
                        <button class="button">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="prices__col">
                <div class="prices__item">
                    <div class="prices__subtitle">PRO</div>
                    <div class="prices__icon">
                        <img src="img/prices/icon-pro.svg" alt="">
                    </div>
                    <div class="prices__price">30</div>
                    <div class="prices__list">
                        <p>Full Access</p>
                        <p>Unlimited Edition</p>
                        <p>Full Backup</p>
                        <p>Free Tea and Free Mockup</p>
                        <p>Several Prices</p>
                    </div>
                    <div class="prices__btn">
                        <button class="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PRICES-->