.prices {
    padding: 70px 0 90px;

    &__main {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 0 0 40px;
    }

    &__text {
        font-size: 14px;
        line-height: 25px;
        font-family: CrimsonTextRoman;
        letter-spacing: 1.4px;
        text-align: center;
        padding: 0 70px 40px;
        letter-spacing: 1.23px;
    }

    &__row {
        display: flex;
        margin: 0 -15px;
    }

    &__col {
        display: flex;
        flex: 0 1 33.333%;
        padding: 0 15px;
        text-align: center;
    }

    &__item {
        background-color: #ffffff;
        padding: 45px 70px 60px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__subtitle {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__icon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        color: #3e3d3d;
        margin: 25px 0 35px;
        align-self: center;
        border: 2px solid #3e3d3d;
        position: relative;
    }
    &__icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__icon::before {
        content: '';
        display: block;
        height: 1px;
        width: 85px;
        background-color: #3e3d3d;
        position: absolute;
        top: 50%;
        left: -86px;
    }&__icon::after {
        content: '';
        display: block;
        height: 1px;
        width: 85px;
        background-color: #3e3d3d;
        position: absolute;
        top: 50%;
        left: 47px;
    }
    &__price {
        font-family: Montserrat;
        font-size: 70px;
        font-weight: 700;
        position: relative;
    }
    &__price::before {
        content: '$';
        font-size: 28px;
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 55px;
    }

    &__list {
        font-family: 'Crimson Text',sans-serif;
        font-style: italic;
        line-height: 30px;
        margin: 50px 0;
        flex: 1 1 auto;
    }
    &__list > p {
        margin: 0;
    }
}