<section class="history section">
  <div class="wrapper">
    <h2 class="history__title section__title">History</h2>

    <div class="history__text section__text">
      <p>
        In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget
        arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet.
      </p>
    </div>

    <div class="history__group history-group">
      <div class="history-group__time">2015</div>
      <ul class="history-group__list">
        <li class="history-group__item history-item">
          <h3 class="history-item__title">Donec id lobortis tellus. Maecenas vel dignissim</h3>
          <time class="history-item__time" datetime="2015-10-07">07 October 2015</time>
          <p class="history-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non,
            sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </p>
        </li>
        <li class="history-group__item history-group__item--right history-item history-item--right">
          <h3 class="history-item__title">Nam tincidunt, lacus sit amet ultrices </h3>
          <time class="history-item__time" datetime="2015-06-05">05 June 2015</time>
          <p class="history-item__text">
            In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In
            eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. Donec quis faucibus
            lorem.
          </p>
        </li>
        <li class="history-group__item history-item">
          <h3 class="history-item__title">Donec quis faucibus lorem</h3>
          <time class="history-item__time" datetime="2015-10-07">07 May 2015</time>
          <p class="history-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non,
            sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </p>
        </li>
        <li
          class="history-group__item history-group__item--right history-item history-item--right history-item--active">
          <h3 class="history-item__title">Nunc efficitur laoreet turpis sed auctor</h3>
          <time class="history-item__time" datetime="2015-10-07">02 April 2015</time>
          <div class="history-item__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum
              non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam
              congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <p>
              Praesent id augue in risus molestie euismod molestie id augue. Suspendisse a libero porttitor, lobortis
              eros ac, varius velit. Praesent sed eros at elit suscipit laoreet vitae condimentum risus.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="history__group history-group">
      <div class="history-group__time">2014</div>
      <ul class="history-group__list">
        <li class="history-group__item history-item">
          <h3 class="history-item__title">Donec id lobortis tellus. Maecenas vel dignissim</h3>
          <time class="history-item__time" datetime="2015-10-07">07 October 2015</time>
          <p class="history-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non,
            sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </p>
        </li>
        <li class="history-group__item history-group__item--right history-item history-item--right">
          <h3 class="history-item__title">Nam tincidunt, lacus sit amet ultrices </h3>
          <time class="history-item__time" datetime="2015-06-05">05 June 2015</time>
          <p class="history-item__text">
            In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In
            eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. Donec quis faucibus
            lorem.
          </p>
        </li>
      </ul>
    </div>

  </div>

</section>