.clients {

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    @include transition(transform);

    &:hover {
      transform: scale(1.1);
    }
  }

}