<section class="clients section section--white">
  <div class="wrapper">
    <div class="clients__title section__title">
      Clients
    </div>
    <div class="clients__text section__text">
      Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum
      dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies
      dui Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus
      bibendum dolor, sit amet pretium odio magna eget risus.
    </div>
    <ul class="clients__list">
      <li class="clients__item">
        <a href="#some1" class="clients__link">
          <img src="img/clients/logo-1.png" alt="Client 1" class="clients__img" /></a>
      </li>
      <li class="clients__item">
        <a href="#some2" class="clients__link"><img src="img/clients/logo-2.png" alt="Client 2"
            class="clients__img" /></a>
      </li>
      <li class="clients__item">
        <a href="#some3" class="clients__link"><img src="img/clients/logo-3.png" alt="Client 3"
            class="clients__img" /></a>
      </li>
      <li class="clients__item">
        <a href="#some4" class="clients__link"><img src="img/clients/logo-4.png" alt="Client 4"
            class="clients__img" /></a>
      </li>
      <li class="clients__item">
        <a href="#some5" class="clients__link"><img src="img/clients/logo-5.png" alt="Client 5"
            class="clients__img" /></a>
      </li>
    </ul>
  </div>
</section>