<!-- OUR TEAM -->
<section class="our-team">
    <div class="team-container">
        <div class="our-team__main">
            <h2 class="section__title">
                Our Team
            </h2>
            <div class="our-team__text">
                Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
            </div>
        </div>
        <div class="our-team__row">
            <div class="our-team__col">
                <div class="our-team__item">
                    <img src="img/our-team/img-1.jpg" alt="">
                    <p class="our-team__autor">Jilia Smith</p>
                    <p class="our-team__profession">Designer</p>
                    <div class="our-team__social"></div>
                </div>
            </div>
            <div class="our-team__col">
                <div class="our-team__item">
                    <img src="img/our-team/img-2.jpg" alt="">
                    <p class="our-team__autor">Jilia Smith</p>
                    <p class="our-team__profession">Designer</p>
                    <div class="our-team__social"></div>
                </div>
            </div>
            <div class="our-team__col">
                <div class="our-team__item">
                    <img src="img/our-team/img-3.jpg" alt="">
                    <p class="our-team__autor">Jilia Smith</p>
                    <p class="our-team__profession">Designer</p>
                    <div class="our-team__social"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OUR TEAM -->