<!-- HEADER-->
<header class="main-header">
  <div class="wrapper">
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link" href="#home">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#about">about us</a></li>
      <li class="menu__item"><a class="menu__link" href="#features">services</a></li>
      <li class="menu__item"><a class="menu__link" href="#portfolio">portfolio</a></li>
      <li class="menu__item"><a class="menu__link" href="#blog">blog</a></li>
      <li class="menu__item"><a class="menu__link" href="#contact-form">contact us</a></li>
    </ul>
  </div>
</header>
<!-- End HEADER-->