.about-us {
    padding: 75px 0;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__img {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    &__main {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 60px 70px 50px;
    }

    &__title {
        position: relative;
    }
    &__text {
        padding: 0 0 40px;
        font-size: 14px;
        line-height: 25px;
        font-family: CrimsonTextRoman;
        letter-spacing: 1.23px;
    }

    &__btn {
        display: inline-block;
    }

    &__box {
        padding: 0 70px;
    }

	&__row {
        display: flex;
        margin: 35px -15px 0;
	}

	&__col {
        flex: 1 1 25%;
        padding: 0 15px;
        text-align: center;
        position: relative;
    }
    &__col:not(:last-child):after {
        content:'';
        position: absolute;
        display: block;
        background-color: #b0b0b0;
        height: 170px;
        width: 1px;
        top: 0;
        left: 100%;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	&__icon {
        width: 50px;
        color: #3e3d3d;
	}

	&__caption {
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1.47px;
        width: 75px;
        text-align: center;
        padding: 15px 0 0;
	}

	&__number {
        font-size: 45px;
        margin: 0;
        line-height: 80px;
	}
}
.button {
    width: 135px;
    height: 40px;
    border: 2px solid #3e3d3d;
    background-color: #ffffff;
    color: #3e3d3d;
    font-family: Montserrat;
    font-size: 13px;
    
    padding: 0;
}
.button:hover {
    background-color: #3e3d3d;
    color:#ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-family: $fh;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 60px 0;
}
