<section class="about-us">
    <div class="container">
        <div class="about-us__content">
            <div class="about-us__img">
                <img src="img/about-us/about-us.jpg" alt="">
            </div>
            <div class="about-us__main">
                <div class="about-us__title title">
                    ABOUT US
                </div>
                <div class="about-us__text">
                    Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. Maecenas est enim, sollicitudin sit amet nisi vel, mattis efficitur sapien. Nulla lobortis dui in aliquam placerat. Maecenas commodo odio nec neque imperdiet sagittis. Fusce mauris tellus, vulputate id finibus a, rutrum et justo. Vivamus at eros sed justo laoreet mattis vulputate vel magna. Sed quis pulvinar quam, et tempus purus. Fusce et nisi eget dui hendrerit iaculis. Cras volutpat augue tempor viverra tincidunt. Maecenas interdum scelerisque enim. Aenean interdum leo ac lectus gravida, id tincidunt sem finibus. Curabitur ac arcu blandit, tempus leo id, ultrices ante.
                </div>
                <div class="about-us__btn">
                    <button class="button">Contact Us</button>
                    <button class="button">Portfolio</button>
                </div>
            </div>
            <div class="about-us__row">
                <div class="about-us__col">
                    <img class="about-us__icon" src="img/about-us/icons/awards.png" alt="">
                    <span class="about-us__caption">AWARDS WINNER</span>
                    <p class="about-us__number">54</p>
                </div>
                <div class="about-us__col">
                    <img class="about-us__icon" src="img/about-us/icons/done.png" alt="">
                    <span class="about-us__caption">JOBS DONE</span>
                    <p class="about-us__number">1054</p>
                </div>
                <div class="about-us__col">
                    <img class="about-us__icon" src="img/about-us/icons/clients.png" alt="">
                    <span class="about-us__caption">HAPPY CLIENTS</span>
                    <p class="about-us__number">120</p>
                </div>
                <div class="about-us__col">
                    <img class="about-us__icon" src="img/about-us/icons/reviews.png" alt="">
                    <span class="about-us__caption">reviews recieved</span>
                    <p class="about-us__number">54</p>
                </div>
            </div>
        </div>
    </div>
</section>