.main-footer {
  background-color: yellow;
  
  &__title {
    @include bg-center('/img/user-avatar.jpg');
    font-family: $font-family-heading;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    &:hover {
      color: green;
    }
  }
}